<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Pokemon Details</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div>
        <p><strong>Type: </strong>{{pokemons.type}}</p>
        <p><strong>Name: </strong>{{pokemons.name}}</p>
        <p><strong>Cp: </strong>{{pokemons.cp}}</p>
      </div>
    </div>
  </div>
</div>