<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Videogame Details</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div>
        <p><strong>Distributor: </strong>{{videogame.distributor}}</p>
        <p><strong>Name: </strong>{{videogame.name}}</p>
        <p><strong>Type: </strong>{{videogame.type}}</p>
      </div>
    </div>
  </div>
</div>