<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Videogames details</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div>
        <p><strong>Distributor: </strong>{{videogames.distributor}}</p>
        <p><strong>Name: </strong>{{videogames.name}}</p>
        <p><strong>Type: </strong>{{videogames.type}}</p>
      </div>
    </div>
  </div>
</div>